---
import { getCollection } from 'astro:content'
import { Image } from '@astrojs/image/components'

import Card from '$components/Card.astro'
import Figure from '$components/Figure.astro'
import Section from '$components/Section.astro'
import Modal from '$components/Modal.astro'

import { resolve } from '$utils/resolve'

const speakers = await getCollection('speakers')

// The color pallette of the speaker outlines
let pallette = [
  'green',
  'light-red',
  'orange',
  'orange',
  'red',
  'red',
  'red',
  'red',
]

// Ensure the pallette is large enough
while (pallette.length < speakers.length) pallette.push(...pallette)

pallette = pallette
  .sort((lhs, rhs) => 0.5 - Math.random())
  .slice(0, speakers.length)
---

<Section name="Speakers">
  <p class="my-2 text-lg">
    Our speakers come from a wide variety of backgrounds and will be presenting
    an equally wide variety of interesting talks. Below you can find their bios
    and talk-abstracts, providing you with a sneak peak into their
    presentations.
  </p>

  <article class="mt-4 -mx-6 sm:mx-0">
    <ul class="flex justify-start grid-cols-2 gap-4 overflow-x-scroll snap-mandatory snap-x sm:grid sm:overflow-auto md:grid-cols-3 lg:grid-cols-4" aria-orientation="horizontal">
      <span class="sm:hidden" />

      {speakers.map(async (speaker, i) => {
        const { slug, data, render } = speaker

        const { name, description } = data

        const { Content } = await render()

        const profile = resolve(slug)

        return (
          <li class="w-64 snap-center scroll-m-6 sm:scroll-m-0 sm:w-auto">
            <Modal>
              <Figure slot="control" color={pallette[i]} class="w-64 p-1 rounded sm:w-auto bg-subtle-highlight drop-shadow">
                <Image slot="image" class="w-full h-auto rounded" src={profile} alt={name} />

                <h1 class="my-2 font-sans text-2xl font-bold">{name}</h1>
                <p>{description}</p>
              </Figure>

              <Card>
                <Content />

                <button class="mt-auto underline">Close</button>
              </Card>
            </Modal>
          </li>
        )
      })}

      <span class="sm:hidden" />
    </ul>
  </article>
</Section>
